.node.rxn {
  fill: #FFA319;
}

.node.rxn.hidden {
  fill: none;
  stroke: none;
  stroke-width: 0;
}

.link {
  fill: none;
  stroke-linecap: round;
}

text.nodelabel {
  fill: #555;
  font-family: Arial;
  font-size: 12;
  pointer-events: none;
}

text.nodelabel.right {
  dx: '.9em';
  dy: '.35em';
  text-anchor: 'start';
}

text.nodelabel.left {
  dx: '-.9em';
  dy: '.35em';
  text-anchor: 'end';
}

text.cofactor {
  fill: #778899;
}

marker.inactive, .node.inactive, text.inactive {
  fill-opacity: {{ inactive_alpha }};
}

.link.inactive {
  stroke-opacity: {{ inactive_alpha }};
}


